@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  background-color: #ecf2f8;
}

body main {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body main .card {
  height: 280px;
  width: 90vw;
  max-width: 730px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.05);
}

body main .card .card__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 285px;
          flex: 0 0 285px;
  position: relative;
  overflow: hidden;
}

body main .card .card__left img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  border-radius: 10px 0 0 10px;
}

body main .card .card__right {
  padding: 33px 40px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .card .card__right h1 {
  letter-spacing: 0.03rem;
  margin: 0 0 0;
  line-height: 2.8rem;
  color: #48556a;
}

body main .card .card__right p {
  font-size: 1.2rem;
  margin: 12px 0 0;
  letter-spacing: 0.06rem;
  line-height: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #48556a;
}

body main .card .card__right .card__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .card .card__right .card__user img {
  width: 40px;
  border-radius: 100%;
}

body main .card .card__right .card__user .card__user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

body main .card .card__right .card__user .card__user-details label {
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: -0.04rem;
  color: #48556a;
}

body main .card .card__right .card__user .card__user-details label span {
  display: block;
  margin-top: 4px;
  line-height: 1.3rem;
  letter-spacing: -0.07rem;
  color: #9eafc2;
}

body main .card .card__right .card__user #share {
  position: relative;
  background-color: #ecf2f8;
  padding: 8px 8px 9px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  will-change: background-color;
}

body main .card .card__right .card__user #share svg {
  width: auto;
  border-radius: 0;
}

body main .card .card__right .card__user #share svg path {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  will-change: fill;
}

body main .card .card__right .card__user #share #share__menu {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  will-change: transform, opacity;
  position: absolute;
  position: absolute;
  top: -84px;
  left: -109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  background: #48556a;
  width: 248px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 9px 16px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 9px 16px 0px rgba(0, 0, 0, 0.1);
  cursor: initial;
}

body main .card .card__right .card__user #share #share__menu label {
  letter-spacing: 0.55rem;
  font-size: 1.2rem;
  color: #9eafc2;
  cursor: pointer;
}

body main .card .card__right .card__user #share #share__menu img {
  width: 20px;
  border-radius: 0;
  cursor: pointer;
}

body main .card .card__right .card__user #share #share__menu:after {
  content: "";
  position: absolute;
  left: 49%;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  bottom: -14px;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(45deg) translateX(-50%);
          transform: rotate(45deg) translateX(-50%);
  background-color: inherit;
}

body main .card .card__right .card__user #share.active {
  background-color: #6d7f97;
}

body main .card .card__right .card__user #share.active #share__menu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

body main .card .card__right .card__user #share.active svg path {
  fill: white;
}

@media (max-width: 900px) {
  body main .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    overflow: hidden;
    margin: 10px 0;
  }
  body main .card .card__left img {
    border-radius: 10px 10px 0 0;
    -o-object-position: top;
       object-position: top;
  }
  body main .card .card__right {
    padding: 33px 30px 22px;
    position: relative;
  }
  body main .card .card__right h1 {
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
  body main .card .card__right p {
    margin-bottom: 33px;
  }
  body main .card .card__right .card__user #share {
    position: initial;
    margin-bottom: -13px;
  }
  body main .card .card__right .card__user #share svg {
    position: relative;
    z-index: 2;
  }
  body main .card .card__right .card__user #share #share__menu {
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    height: 70px;
    border-radius: 0;
    width: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 30px;
  }
  body main .card .card__right .card__user #share #share__menu:after {
    content: none;
  }
}

@media (max-width: 400px) {
  body main .card .card__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 175px;
            flex: 0 0 175px;
  }
}
